.infoBar{
    border-radius: 16px 999px 999px 16px;
    padding: 32px;
    background-color: var(--color-blue-500);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 121%;
    letter-spacing: -0.05em;
    color: white;
}

.description{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.welcomeContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.resultContainer{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.resultTitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.result{
    font-weight: 600;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -0.05em;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 600px) {
    .infoBar {
        border-radius: 16px;
    }

    .resultContainer{
        grid-template-columns: 1fr;
    }
}